<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <head>
    <title>忘年会アプリ</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>忘年会アプリ</h1>
    <p>限定公開です</p>
    <form action="http://{{ip}}:61203/q1" method="get">
      <div>
        <input type="text" name="name_id" size="30" />
        <br>
        <input type="submit" class="square_btn" value="登録" />
      </div>
    </form>
  </body>
</html>
